
.login-form-box {
  font-family: 'Josefin Sans', sans-serif;
  width: 70vh;
  height: 87vh;
  font-size: 1.5em;
  margin-top: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

 //
 // .login-page {
 //   min-width: 100vw;
 //   min-height: 100vh;
 //   position: relative;
 //   display: flex;
 //   flex-direction: column;
 //   align-items: center;
 //   /*overflow: scroll;*/
 // }


.unlogged-greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 100%;
  height: 87vh;
  margin: 0;
  background: image_url("splashpage.jpg") no-repeat center center fixed;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  // -o-background-size: cover;
  background-size: cover;

}


.login-form label {

 display: block;
 text-align: left;
 margin-bottom: 5px;
 font-size: 24px;
 font-weight: 500;
 /* color */
 font-family: Itim, cursive;
}

.login-form input, textarea {
 height: 5vh;
 width: 20vh;
 font-size: 1.0em;
 border-radius: 6px;
 margin: 10px;
 padding: 10px;
}

.login-form p {
  margin-top: 15px;
  font-size: 1.5em;
  margin-bottom: 0px;
}
input.submit-button {
  cursor: pointer;
}

.login-form-container {

 width: 100%;
 height: 87vh;
 display: flex;
 justify-content: center;
 color: red;
 background: image_url("splashpage.jpg") no-repeat center center fixed;
 font-family: 'Josefin Sans', sans-serif;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 // -o-background-size: cover;
 background-size: cover;
}

.login-form {
  background: rgba(208,180,164,0.73);
  border-radius: 19px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 80%;
}

.welcome-text {
  display:block;
  // justify-content: center;
  text-align: center;
}

h4 {
 margin: 0px;
}

.welcome-screen-text {
  text-align: center;
}
.login-page {
 /*-webkit-background-size: auto;
 -moz-background-size: auto;
 -o-background-size: auto;*/
 float:left;
 height: auto;
 background-size: auto;
 /*background: url(http://res.cloudinary.com/dsaxhw9ii/image/upload/v1484786853/636088662536835042-1570042978_library_mpwvu3.jpg);*/

}
