// Place all the styles related to the api/taskers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.taskers-index {
  display: flex;
  flex-direction: column;
  width: auto;
  float: right;
}

.tasker-profile {
  font-family: 'Josefin Sans', sans-serif;
}

.tasker-index {
    float: right;
    width: 1000px;
    position: relative;
    border-top: 1px solid lightgray;
    padding-top: 25px;
}

.tasker-index-list {
  padding-left: 0;
}

.button-tasker {
  list-style: none;
}
