// Place all the styles related to the api/taskers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .taskers-index {
//   display: flex;
//   flex-direction: column;
//   width: 700px;
//   float: right;
// }


.taskers-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 15%;
  width: 700px;
  height: 600px;
  left: 15%;
}

.tasker-profile {
  margin-top: 30px;
  box-shadow: 2px 2px 2px 2px rgba(150,58,59,0.15);

  font-family: 'Josefin Sans', sans-serif;
}

ul.tasker-index-list {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  height: 550px;
}

.tasker-button {
  width: 150px;
  height: 20px;
  margin-bottom: 20px;
}



.button-tasker {
  list-style: none;
}

.tasker-image {
  height: 100px;
  width: auto;
}
