// Place all the styles related to the api/tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.task-profile {
  text-align: center;
  float: left;
  width: 300px;
  height: 330px;
  background: white;
  border-radius: 0%;
  box-shadow: 2px 2px 2px 2px rgba(150,58,59,0.15);
  margin: auto;
  margin-bottom: 30px;
  // font-family: "Proxima Light", Arial, Helvetica, sans-serif;
  position: relative;
  cursor: pointer;
  color: green;
}

.task-index-list {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.task-image {
	display: block;
	height: 180px;
	width: 100%;
  margin-bottom: 5px;
}

.task-title {
  color:black;
}

// .tasks-index {
//   display: flex;
// }
