.make_tr {
    border-radius: 4px;
    background: rgba(255,255,255,0);
    text-align: center;
    padding: 0.5em 3em 0.5em;
    font-size: 1.25rem;
    margin: 20px 0 10px 0;
    border: 1px solid #00964b;
    font-family: "Proxima Regular", Arial, Helvetica, sans-serif;
    color: #00964b;
    z-index: 2;
    cursor: pointer;
    background-color: green;
    color: white;
    margin-bottom:27px;
}

.tasks-index h2 {
  margin-left: 20px;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.make_tr {
    margin-left: 20px;
    transition: all 0.3s ease 0s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.carousel-container {
  width: 100%;
  max-height: 87.9vh;
  overflow: hidden;
  font-family: 'Josefin Sans', sans-serif;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // // -o-background-size: cover;
  // background-size: cover;
}

.carousel-text {
  text-align: center;
  position: absolute;
  top: 35%;
  color: red;
  font-size: 65px;
}

.carousel-text h1 {
  color: lightgreen;
  padding: 10px;
  // background: rgb(0, 0, 0);
  // background-color: white;
  padding-bottom: 0px;
  // margin-top: 20vh;
}

.root {
  height: 100%;
}
.slick-slide {
  height: 87.9vh;
}

.user-info .h2 {
  width: 350px;
}

.guest-login {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.num-icon-content {
  font-size: 18px;
}
