/* line 1, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker {
  font-family: "Times New Roman";
  font-size: .8rem;
  background-color: #fff;
  color: white;
  border: 1px solid black;
  border-radius: .4rem;
  display: inline-block;
  position: relative;
}

/* line 12, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__triangle {
  position: absolute;
  left: 50px;
}

/* line 17, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__tether-element-attached-bottom.react-datepicker__tether-element {
  margin-top: -20px;
}

/* line 21, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__header {
  text-align: center;
  background-color: white;
  border-bottom: 1px solid black;
  border-top-left-radius: .4rem;
  border-top-right-radius: .4rem;
  padding-top: 8px;
  position: relative;
}

/* line 31, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__header__dropdown--select {
  margin-top: -16px;
}

/* line 35, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__year-dropdown-container--select,
.react-datepicker__month-dropdown-container--select {
  display: inline-block;
  margin: 0 2px;
}

/* line 41, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__current-month {
  margin-top: 0;
  color: #000;
  font-weight: bold;
  font-size: 1rem;
}
/* line 47, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__current-month--hasYearDropdown {
  margin-bottom: 16px;
}

/* line 52, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__navigation {
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 10px;
  width: 0;
  border: .50rem solid transparent;
  z-index: 1;
}
/* line 62, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__navigation--previous {
  left: 10px;
  border-right-color: red;
}
/* line 66, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__navigation--previous:hover {
  border-right-color: #cc0000;
}
/* line 71, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__navigation--next {
  right: 10px;
  border-left-color: red;
}
/* line 75, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__navigation--next:hover {
  border-left-color: #cc0000;
}
/* line 80, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__navigation--years {
  position: relative;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 87, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__navigation--years-previous {
  top: 4px;
  border-top-color: red;
}
/* line 91, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__navigation--years-previous:hover {
  border-top-color: #cc0000;
}
/* line 96, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__navigation--years-upcoming {
  top: -4px;
  border-bottom-color: red;
}
/* line 100, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__navigation--years-upcoming:hover {
  border-bottom-color: #cc0000;
}

/* line 107, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__month-container {
  display: inline;
  float: left;
}

/* line 112, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__month {
  margin: .166rem;
  text-align: center;
}

/* line 117, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__week-number {
  color: red;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: .166rem;
}

/* line 126, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__day-name,
.react-datepicker__day {
  color: gray;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: .16rem;
}

/* line 136, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__day {
  cursor: pointer;
}
/* line 139, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__day:hover {
  border-radius: .31rem;
  background-color: white;
}
/* line 144, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__day--today {
  font-weight: bold;
}
/* line 148, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__day--highlighted {
  border-radius: .31rem;
  background-color: blue;
  color: #fff;
}
/* line 153, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__day--highlighted:hover {
  background-color: #0000e6;
}
/* line 158, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range {
  border-radius: .3rem;
  background-color: #216ba5;
  color: #fff;
}
/* line 165, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover {
  background-color: #1d5d90;
}
/* line 170, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range) {
  background-color: rgba(33, 107, 165, 0.5);
}
/* line 175, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__month--selecting-range .react-datepicker__day--in-range:not(.react-datepicker__day--in-selecting-range) {
  background-color: white;
  color: white;
}
/* line 181, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__day--disabled {
  cursor: default;
  color: red;
}
/* line 185, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__day--disabled:hover {
  background-color: transparent;
}

/* line 191, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__input-container {
  position: relative;
  display: inline-block;
}

/* line 196, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__year-read-view {
  width: 50%;
  left: 25%;
  position: absolute;
  bottom: 25px;
  border: 1px solid transparent;
  border-radius: .3rem;
}
/* line 204, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__year-read-view:hover {
  cursor: pointer;
}
/* line 207, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__year-read-view:hover .react-datepicker__year-read-view--down-arrow {
  border-top-color: #cc0000;
}
/* line 212, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__year-read-view--down-arrow {
  border-top-color: red;
  margin-bottom: 3px;
  left: 5px;
  top: 9px;
  position: relative;
  border-width: .50rem;
}
/* line 221, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__year-read-view--selected-year {
  right: .50rem;
  position: relative;
}

/* line 227, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__year-dropdown {
  background-color: white;
  position: absolute;
  width: 50%;
  left: 25%;
  top: 30px;
  text-align: center;
  border-radius: .3rem;
  border: 1px solid black;
}
/* line 237, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__year-dropdown:hover {
  cursor: pointer;
}
/* line 241, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__year-dropdown--scrollable {
  height: 150px;
  overflow-y: scroll;
}

/* line 247, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__year-option {
  line-height: 20px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 254, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__year-option:first-of-type {
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}
/* line 259, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__year-option:last-of-type {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom-left-radius: .3rem;
  border-bottom-right-radius: .3rem;
}
/* line 268, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__year-option:hover {
  background-color: red;
}
/* line 271, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__year-option:hover .react-datepicker__navigation--years-upcoming {
  border-bottom-color: #cc0000;
}
/* line 275, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__year-option:hover .react-datepicker__navigation--years-previous {
  border-top-color: #cc0000;
}
/* line 280, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__year-option--selected {
  position: absolute;
  left: 30px;
}

/* line 286, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__close-icon {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  height: 0;
  outline: 0;
  padding: 0;
  vertical-align: middle;
}
/* line 296, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__close-icon::after {
  background-color: #216ba5;
  border-radius: 50%;
  bottom: 0;
  box-sizing: border-box;
  color: #fff;
  content: "\00d7";
  cursor: pointer;
  font-size: 12px;
  height: 16px;
  width: 16px;
  line-height: 1;
  margin: -8px auto 0;
  padding: 2px;
  position: absolute;
  right: 7px;
  text-align: center;
  top: 50%;
}

/* line 317, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__today-button {
  background: white;
  border-top: 1px solid black;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
}

/* line 326, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__tether-element {
  z-index: 2147483647;
}
/* line 11, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/taskers.scss */
.tasker-profile {
  font-family: 'Josefin Sans', sans-serif;
}

/* line 15, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/taskers.scss */
.tasker-index {
  float: right;
  width: 1000px;
  position: relative;
  border-top: 1px solid lightgray;
  padding-top: 25px;
}

/* line 23, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/taskers.scss */
.tasker-index-list {
  padding-left: 0;
}

/* line 27, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/taskers.scss */
.button-tasker {
  list-style: none;
}

/* line 31, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/taskers.scss */
.tasker-image {
  height: 100px;
  width: auto;
}
/* line 4, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/tasks.scss */
.task-profile {
  text-align: center;
  float: left;
  width: 300px;
  height: 330px;
  background: white;
  border-radius: 0%;
  box-shadow: 2px 2px 2px 2px rgba(150, 58, 59, 0.15);
  margin: auto;
  margin-bottom: 30px;
  position: relative;
  cursor: pointer;
  color: green;
}

/* line 20, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/tasks.scss */
.task-index-list {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

/* line 29, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/tasks.scss */
.task-image {
  display: block;
  height: 180px;
  width: 100%;
  margin-bottom: 5px;
}

/* line 36, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/tasks.scss */
.task-title {
  color: black;
}
/* line 6, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/users.scss */
.user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10;
  margin: 10;
  text-align: center;
  height: auto;
  position: relative;
  left: 20%;
  top: 50%;
  height: 500px;
  /*transform: translate(-50%, -50%);*/
  width: 60%;
}

/* line 22, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/users.scss */
.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  text-align: right;
}

/* line 31, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/users.scss */
.user-info-item {
  list-style: none;
}

/* line 35, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/users.scss */
.number-icon {
  background: #00964b;
  border-radius: 50%;
  float: left;
  padding: 9px 10px;
  color: white;
  font-size: 20px;
  text-align: center;
  width: 20px;
  height: 20px;
  margin: 0px 20px 20px 0px;
}
/* line 5, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/static_pages.scss */
header {
  font-family: 'Pacifico', cursive;
  color: white;
  background: green;
  width: 100%;
  margin: 0;
}

/* line 13, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/static_pages.scss */
.header-nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 21, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/static_pages.scss */
.header-logo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* line 28, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/static_pages.scss */
.header-logo:hover {
  transform: scale(1.05);
}

/* line 32, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/static_pages.scss */
.logo-img {
  padding: 10px;
  margin-left: 15%;
  height: 40px;
  width: auto;
  margin-top: 10px;
}

/* line 41, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/static_pages.scss */
.logo-h3 {
  color: white;
  display: block;
  font-weight: 700;
  font-size: 14pt;
  margin-right: 30%;
}

/* line 49, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/static_pages.scss */
.header-list {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 5%;
}
/* line 50, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/static_pages.scss */
.header-list a {
  color: inherit;
}

/* line 60, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/static_pages.scss */
.header-list-item {
  display: block;
  position: relative;
  padding: 10px 20px;
  font-weight: 700;
  color: white;
}

/* line 68, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/static_pages.scss */
.header-list-item:hover {
  color: white;
  transform: scale(1.02);
}

/* line 1, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker {
  font-family: "Times New Roman";
  font-size: .8rem;
  background-color: #fff;
  color: white;
  border: 1px solid black;
  border-radius: .4rem;
  display: inline-block;
  position: relative;
}

/* line 12, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__triangle {
  position: absolute;
  left: 50px;
}

/* line 17, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__tether-element-attached-bottom.react-datepicker__tether-element {
  margin-top: -20px;
}

/* line 21, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__header {
  text-align: center;
  background-color: white;
  border-bottom: 1px solid black;
  border-top-left-radius: .4rem;
  border-top-right-radius: .4rem;
  padding-top: 8px;
  position: relative;
}

/* line 31, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__header__dropdown--select {
  margin-top: -16px;
}

/* line 35, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__year-dropdown-container--select,
.react-datepicker__month-dropdown-container--select {
  display: inline-block;
  margin: 0 2px;
}

/* line 41, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__current-month {
  margin-top: 0;
  color: #000;
  font-weight: bold;
  font-size: 1rem;
}
/* line 47, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__current-month--hasYearDropdown {
  margin-bottom: 16px;
}

/* line 52, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__navigation {
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 10px;
  width: 0;
  border: .50rem solid transparent;
  z-index: 1;
}
/* line 62, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__navigation--previous {
  left: 10px;
  border-right-color: red;
}
/* line 66, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__navigation--previous:hover {
  border-right-color: #cc0000;
}
/* line 71, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__navigation--next {
  right: 10px;
  border-left-color: red;
}
/* line 75, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__navigation--next:hover {
  border-left-color: #cc0000;
}
/* line 80, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__navigation--years {
  position: relative;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 87, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__navigation--years-previous {
  top: 4px;
  border-top-color: red;
}
/* line 91, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__navigation--years-previous:hover {
  border-top-color: #cc0000;
}
/* line 96, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__navigation--years-upcoming {
  top: -4px;
  border-bottom-color: red;
}
/* line 100, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__navigation--years-upcoming:hover {
  border-bottom-color: #cc0000;
}

/* line 107, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__month-container {
  display: inline;
  float: left;
}

/* line 112, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__month {
  margin: .166rem;
  text-align: center;
}

/* line 117, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__week-number {
  color: red;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: .166rem;
}

/* line 126, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__day-name,
.react-datepicker__day {
  color: gray;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: .16rem;
}

/* line 136, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__day {
  cursor: pointer;
}
/* line 139, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__day:hover {
  border-radius: .31rem;
  background-color: white;
}
/* line 144, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__day--today {
  font-weight: bold;
}
/* line 148, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__day--highlighted {
  border-radius: .31rem;
  background-color: blue;
  color: #fff;
}
/* line 153, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__day--highlighted:hover {
  background-color: #0000e6;
}
/* line 158, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range {
  border-radius: .3rem;
  background-color: #216ba5;
  color: #fff;
}
/* line 165, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover {
  background-color: #1d5d90;
}
/* line 170, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range) {
  background-color: rgba(33, 107, 165, 0.5);
}
/* line 175, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__month--selecting-range .react-datepicker__day--in-range:not(.react-datepicker__day--in-selecting-range) {
  background-color: white;
  color: white;
}
/* line 181, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__day--disabled {
  cursor: default;
  color: red;
}
/* line 185, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__day--disabled:hover {
  background-color: transparent;
}

/* line 191, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__input-container {
  position: relative;
  display: inline-block;
}

/* line 196, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__year-read-view {
  width: 50%;
  left: 25%;
  position: absolute;
  bottom: 25px;
  border: 1px solid transparent;
  border-radius: .3rem;
}
/* line 204, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__year-read-view:hover {
  cursor: pointer;
}
/* line 207, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__year-read-view:hover .react-datepicker__year-read-view--down-arrow {
  border-top-color: #cc0000;
}
/* line 212, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__year-read-view--down-arrow {
  border-top-color: red;
  margin-bottom: 3px;
  left: 5px;
  top: 9px;
  position: relative;
  border-width: .50rem;
}
/* line 221, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__year-read-view--selected-year {
  right: .50rem;
  position: relative;
}

/* line 227, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__year-dropdown {
  background-color: white;
  position: absolute;
  width: 50%;
  left: 25%;
  top: 30px;
  text-align: center;
  border-radius: .3rem;
  border: 1px solid black;
}
/* line 237, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__year-dropdown:hover {
  cursor: pointer;
}
/* line 241, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__year-dropdown--scrollable {
  height: 150px;
  overflow-y: scroll;
}

/* line 247, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__year-option {
  line-height: 20px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 254, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__year-option:first-of-type {
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}
/* line 259, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__year-option:last-of-type {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom-left-radius: .3rem;
  border-bottom-right-radius: .3rem;
}
/* line 268, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__year-option:hover {
  background-color: red;
}
/* line 271, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__year-option:hover .react-datepicker__navigation--years-upcoming {
  border-bottom-color: #cc0000;
}
/* line 275, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__year-option:hover .react-datepicker__navigation--years-previous {
  border-top-color: #cc0000;
}
/* line 280, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__year-option--selected {
  position: absolute;
  left: 30px;
}

/* line 286, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__close-icon {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  height: 0;
  outline: 0;
  padding: 0;
  vertical-align: middle;
}
/* line 296, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__close-icon::after {
  background-color: #216ba5;
  border-radius: 50%;
  bottom: 0;
  box-sizing: border-box;
  color: #fff;
  content: "\00d7";
  cursor: pointer;
  font-size: 12px;
  height: 16px;
  width: 16px;
  line-height: 1;
  margin: -8px auto 0;
  padding: 2px;
  position: absolute;
  right: 7px;
  text-align: center;
  top: 50%;
}

/* line 317, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__today-button {
  background: white;
  border-top: 1px solid black;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
}

/* line 326, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/react-datepicker.scss */
.react-datepicker__tether-element {
  z-index: 2147483647;
}

/* line 6, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/users.scss */
.user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10;
  margin: 10;
  text-align: center;
  height: auto;
  position: relative;
  left: 20%;
  top: 50%;
  height: 500px;
  /*transform: translate(-50%, -50%);*/
  width: 60%;
}

/* line 22, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/users.scss */
.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  text-align: right;
}

/* line 31, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/users.scss */
.user-info-item {
  list-style: none;
}

/* line 35, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/users.scss */
.number-icon {
  background: #00964b;
  border-radius: 50%;
  float: left;
  padding: 9px 10px;
  color: white;
  font-size: 20px;
  text-align: center;
  width: 20px;
  height: 20px;
  margin: 0px 20px 20px 0px;
}

/* line 11, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/taskers.scss */
.tasker-profile {
  font-family: 'Josefin Sans', sans-serif;
}

/* line 15, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/taskers.scss */
.tasker-index {
  float: right;
  width: 1000px;
  position: relative;
  border-top: 1px solid lightgray;
  padding-top: 25px;
}

/* line 23, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/taskers.scss */
.tasker-index-list {
  padding-left: 0;
}

/* line 27, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/taskers.scss */
.button-tasker {
  list-style: none;
}

/* line 31, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/taskers.scss */
.tasker-image {
  height: 100px;
  width: auto;
}

/* line 4, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/tasks.scss */
.task-profile {
  text-align: center;
  float: left;
  width: 300px;
  height: 330px;
  background: white;
  border-radius: 0%;
  box-shadow: 2px 2px 2px 2px rgba(150, 58, 59, 0.15);
  margin: auto;
  margin-bottom: 30px;
  position: relative;
  cursor: pointer;
  color: green;
}

/* line 20, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/tasks.scss */
.task-index-list {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

/* line 29, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/tasks.scss */
.task-image {
  display: block;
  height: 180px;
  width: 100%;
  margin-bottom: 5px;
}

/* line 36, /Users/appacademy/Desktop/cask-rabbit/app/assets/stylesheets/api/tasks.scss */
.task-title {
  color: black;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
 /*
 html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}
*/


html, body, footer {

  margin:0;
  padding:0;
}

 .login-page {
   font-family: 'Josefin Sans', sans-serif;
   min-width: 100vw;
   min-height: 100vh;
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   /*overflow: scroll;*/
 }


  body {
    font-family: 'Josefin Sans', sans-serif;
  }

 .content {
   height: 100%;
 }



 /*header {
   margin-left: 5%;
 }*/

 h1, h2, h3, h5 {
   margin-bottom: 0px;
 }

h3 {
  margin-top: 23px;
  color: white;
  text-decoration-color: white;
}

 .index-image {
   max-height: 200px;
   max-width: 100px;
 }

 .header-name {
   margin: 7px 0 0 0;

 }

 .button-holder {
   display: flex;
   align-items: center;
   flex-direction: column;
 }



 footer {
  position: relative;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  background: gray;
  color: #fff;
	overflow: hidden;
}

 .footer-nav {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-link {
	display: flex;
	justify-content: space-between;
  font-size: $medium;
}

.footer-img {
	display: inline-block;
	max-height: 30px;
	max-width: 30px;
	margin: 0 5px;
}

.footer-links-list {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.footer-link-list-item {
  display: flex;
  position: relative;
  padding: 10px 20px;
  font-weight: 700;
  align-content: center;
  align-items: center;
}

 .login-input {
   margin-left: 20px;
 }

 .login-form-box {
   margin-top: 30px;
   outline: 1px solid white;
   padding: 10px;
 }

 .filter {
   font-weight: bold;
 }

 .header-link {
   text-decoration: none;
   color: white;
 }

 hr {
   border-bottom: 1px solid grey;
 }

 .login-form label {

  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-size: $xlarge;
  font-weight: 500;
  /* color */
	font-family: Itim, cursive;
}

.login-form input, textarea {
  display: flex;
  justify-content: flex-end;
}

.login-form-container {

  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  color: gray;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h4 {
  margin: 0px;
}

.login-page {
  /*-webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;*/
  float:left;
  height: auto;
  background-size: auto;
  /*background: url(http://res.cloudinary.com/dsaxhw9ii/image/upload/v1484786853/636088662536835042-1570042978_library_mpwvu3.jpg);*/

}

.taskRequest-container {
  left: 0%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin-right: 0;
  float: left;
  border: 0;
  text-align: center;
  min-width: 700px;
  position: relative;
  top: 50%;
  /*transform: translate(-50%, -50%);*/
  width: 80%;
  height: 1000px;
}

.taskRequest-form input {
  width: 300px;
}

.taskRequest-form textarea {
  width: 500px;
  height: 60px;
  /*float:right;*/
  /*margin-left: 25%;*/
}

/*.taskers-index-list {
  display: flex;
  flex-direction: row;
}*/

.taskRequest-profile {
  background: lightyellow;
  border-radius: 0%;
  box-shadow: 0px 2px 2px 0px rgba(50,58,59,0.15);
  margin: 20px 0px;
  min-width: 80%;
  font-size: 10pt;
}

.taskRequest-entries {
  display: flex;
  align-items: center;
  list-style: none;
  flex-direction: column;
  height: auto;
  width: 100%;

}

.taskRequest-entries:nth-last-child(0) {
  height: 150px;
}


.greeting {
  align-items: center;
  color: gray;
  padding: 10px 0px;
  width: 80%;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

.unlogged-greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 100%;
  height: 500px;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  background-size: 100%;
  background-image: url(http://res.cloudinary.com/dsaxhw9ii/image/upload/v1484942510/bunny-learning-about-himself_zvb1yl.jpg);

}

.greeting h3 {
  color: black;
}

.taskRequest-index-list {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
  min-width: 100%;
}

.taskers-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 15%;
  width: 700px;
  height: 500px;
  left: 15%;
}

.tasker-profile {
  font-family: 'Josefin Sans', sans-serif;
}

.tasker-index {
    left: 0%;
    width: 1000px;
    position: fixed;
    border-top: 1px solid lightgray;
    padding-top: 25px;
}

.tasker-index-list {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.tasker-button {
  width: 150px;
  height: 20px;
  margin-bottom: 20px;
}

.taskRequest-form {
  height: 100%;
}

.task-request-button {
  margin-top: 20px;
}

.greeting-group {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: gray;
    padding: 10px 0px;
    width: 100%;
    margin-right: 0;
    font-family: 'Josefin Sans', sans-serif;
}
