/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*
 html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}
*/

html, body, footer {

  margin:0;
  padding:0;
}

 .login-page {
   font-family: 'Josefin Sans', sans-serif;
   min-width: 100vw;
   min-height: 100vh;
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   /*overflow: scroll;*/
 }


  body {
    font-family: 'Josefin Sans', sans-serif;
  }

 .content {
   height: 100%;
 }



 /*header {
   margin-left: 5%;
 }*/

 h1, h2, h3, h5 {
   margin-bottom: 0px;
 }

h3 {
  margin-top: 23px;
  color: white;
  text-decoration-color: white;
}

 .index-image {
   max-height: 200px;
   max-width: 100px;
 }

 .header-name {
   margin: 7px 0 0 0;

 }

 .button-holder {
   display: flex;
   align-items: center;
   flex-direction: column;
 }



 footer {
  position: relative;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  background: gray;
  color: #fff;
	overflow: hidden;
}

 .footer-nav {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-link {
	display: flex;
	justify-content: space-between;
  font-size: $medium;
}

.footer-img {
	display: inline-block;
	max-height: 30px;
	max-width: 30px;
	margin: 0 5px;
}

.footer-links-list {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.footer-link-list-item {
  display: flex;
  position: relative;
  padding: 10px 20px;
  font-weight: 700;
  align-content: center;
  align-items: center;
}

 .login-input {
   margin-left: 20px;
 }

 .login-form-box {
   outline: 1px solid white;
   padding: 20px;
 }

 .filter {
   font-weight: bold;
 }

 .header-link {
   text-decoration: none;
   color: white;
 }

 hr {
   border-bottom: 1px solid grey;
 }

 .login-form label {

  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-size: $xlarge;
  font-weight: 500;
  /* color */
	font-family: Itim, cursive;
}

.login-form input, textarea {
  display: flex;
  justify-content: flex-end;
}

.login-form-container {

  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  color: gray;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h4 {
  margin: 0px;
}

.login-page {
  /*-webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;*/
  float:left;
  height: auto;
  background-size: auto;
  /*background: url(http://res.cloudinary.com/dsaxhw9ii/image/upload/v1484786853/636088662536835042-1570042978_library_mpwvu3.jpg);*/

}

.taskRequest-container {
  left: 0%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin-right: 0;
  float: left;
  border: 0;
  text-align: center;
  min-width: 700px;
  position: relative;
  top: 50%;
  /*transform: translate(-50%, -50%);*/
  width: 80%;
  height: 1000px;
}

.taskRequest-form input {
  width: 300px;
}

.taskRequest-form textarea {
  width: 500px;
  height: 60px;
  /*float:right;*/
  /*margin-left: 25%;*/
}

/*.taskers-index-list {
  display: flex;
  flex-direction: row;
}*/

.taskRequest-profile {
  background: lightyellow;
  border-radius: 0%;
  box-shadow: 0px 2px 2px 0px rgba(50,58,59,0.15);
  margin: 20px 0px;
  min-width: 80%;
  font-size: 10pt;
}

.taskRequest-entries {
  display: flex;
  align-items: center;
  list-style: none;
  flex-direction: column;
  height: auto;
  width: 100%;

}

.taskRequest-entries:nth-last-child(0) {
  height: 150px;
}


.greeting {
  align-items: center;
  color: gray;
  padding: 10px 0px;
  width: 80%;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

.unlogged-greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  padding: 10px 0px;
  width: 80%;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

.greeting h3 {
  color: gray;
}

.taskRequest-index-list {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
  min-width: 100%;
}

.taskers-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 15%;
  width: 700px;
  height: 500px;
  left: 15%;
}

.tasker-profile {
  font-family: 'Josefin Sans', sans-serif;
}

.tasker-index {
    left: 0%;
    width: 1000px;
    position: fixed;
    border-top: 1px solid lightgray;
    padding-top: 25px;
}

.tasker-index-list {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.tasker-button {
  width: 150px;
  height: 20px;
  margin-bottom: 20px;
}

.taskRequest-form {
  height: 100%;
}
