// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  font-family: 'Pacifico', cursive;
  color: white;
  background: #1C2331;
  width: auto;
  margin: 0;
}

.header-nav {
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  justify-content: flex-start;
  width: auto;
}

.header-logo:hover {
  transform: scale(1.05);
}

.logo-img {

  padding: 10px;
  height: 40px;
  width: auto;
}

.logo-h3 {
  color: white;
  display: block;
  font-weight: 700;
  font-size: 14;
}

.header-list {
  a {
    color: inherit;
  }
  color: white;
  display: flex;
  justify-content: space-between;
}

.header-list-item {
  display: block;
  position: relative;
  padding: 10px 20px;
  font-weight: 700;
  color: white;
}

.header-list-item:hover {

  color: white;
  transform: scale(1.05);
}

@import "api/react-datepicker";
@import 'api/users';
