// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  font-family: 'Pacifico', cursive;
  color: white;
  background: white;
  width: 100%;
  margin: 0;
  height: 6vh;
  border-bottom: 1px solid #dce0e6;
}

.header-nav {
  width: 100%;
  // margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-list > button:not(:last-child) {
    border-right: 1px solid #cfd2d3;
}

header button {
    margin: 0;
    border: 0;
    padding-left: 15px;
    padding-right: 15px;
    font: inherit;
    text-align: inherit;
    text-decoration: inherit;
    list-style: none;
    color: inherit;
    background: transparent;
    padding-bottom: 20px;
    outline:none;
    // border-right: 1px solid #cfd2d3;
}
.header-logo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 7vh;
  a {
    text-decoration: none;
  }

}

.user-profile-pic {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-right: 20px;
}

.logo-img {

  padding: 10px;
  margin-left: 20px;
  height: 40px;
  width: auto;
  margin-top: 10px;
  margin-bottom: 15px;
}

.logo-h3 {
  color: green;
  display: block;
  font-weight: 700;
  font-size: 14pt;
  margin-right: 30%;
}

.header-list {
  a {
    color: inherit;
    text-decoration: none;
  }
  margin-bottom: 0px;
  color: green;
  display: flex;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 20px;
}

.header-list-item {
  display: block;
  position: relative;
  padding: 10px 20px;
  font-weight: 700;
  color: green;
  background-color: transparent;
  margin-bottom: 20px;
}

.header-button {
  cursor: pointer;
  margin-bottom: 12px;
}

.header-list-item:hover {

  color: green;
  transform: scale(1.02);
}

footer {
 position: relative;
 text-align: center;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 6vh;
 background: white;
 color: green;
 overflow: hidden;
 border-top: 1px solid #dce0e6;
}

.footer-nav {
 width: 100%;
 margin: 0 auto;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.footer-link {
 display: flex;
 justify-content: space-between;
 font-size: 16px;
 width: 100%;
}

.footer-img {
 display: inline-block;
 max-height: 30px;
 max-width: 30px;
 margin: 0 5px;
}

.footer-links-list {
 display: flex;
 justify-content: space-between;
 align-content: center;
 align-items: center;
 width: 20%;
}

.footer-link-list-item {
 display: flex;
 position: relative;
 font-weight: 700;
 align-content: center;
 align-items: center;
}

.footer-text {
  color: green;
  margin-left: 20px;
  margin-top: 30px;
}


@import "api/welcome";
@import "api/react-datepicker";
@import 'api/users';
@import 'api/taskers';
@import 'api/task_requests';
@import 'api/tasks';
@import 'api/login';
